/* variables.scss */

$font-color: #ffdfd2 !default;
$font-darker-color: #F2D4D7 !default;

$background-color:#3a1e22 !default;
$gradient-color: rgba(84, 54, 59, 1) !default;

$box-color: #9a7b782c !default;
$border-color: #ceadae85 !default;
$shadow-color: rgb(88, 46, 52, 0.5) !default;

$header-font: 'Hubot Sans', sans-serif !default;
$bread-font: 'Mona Sans', serif !default;

$header-size: 2rem !default;
$subheader-size: 1.25rem !default;
$nav-size: 1.25rem !default;
$paragraph-size: 1.4em !default;

$header-weight: 700 !default;
$paragraph-wight: 500 !default;

$mobile-header: 1.25rem !default;
$mobile-subheader: 1rem !default;
$mobile-paragraph: 0.75rem !default;

$code-border: #ceadae85 !default;
$code-background: #9a7b784d !default;

$img-filter: grayscale(80%) !default;