$font-color: #241a16;
$font-darker-color: #18110e;

$font-alternative-color: #eaddca;
$accent-color: rgba(253, 193, 180, 1);
$background-color: rgb(255, 237, 209);
$gradient-color: rgba(253, 193, 180, 1);
$background-alternative-color: #7c3030;

$header-font: 'Hubot Sans', sans-serif;
$bread-font: 'Mona Sans', serif;

$header-size: 2rem;
$subheader-size: 1.25rem;
$nav-size: 1.25rem;
$paragraph-size: 1.4em;

$mobile-header: 1.25rem;
$mobile-subheader: 1rem;
$mobile-paragraph: 0.75rem;
