@use 'variables';

.header {
  display: flex;
  justify-content: space-between;
  background: variables.$background-color;
  background: linear-gradient(0deg, variables.$background-color 0%, variables.$gradient-color 100%);
  padding: 0.5rem 2rem;

  @media (max-width: 767px) {
    .title,
    .logo {
      padding: 1em 1em 1em 0;
    }

    .title {
      min-width: 50%;
    }

    .logo {
      max-width: 30%;
    }
  }

  .hidden {
    display: none !important;
  }  
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .title,
  .logo {
    padding: 3em 3em 3em 0;
  }
}

.title {
  a {
    text-decoration: none;
  }

  h1 {
    color: variables.$font-darker-color;
  }

  p {
    color: variables.$font-color;
  }
} 

.logo {
  img {
    object-fit: contain;
    width: 100%;
  }
}

.nav {
  a {
    color: variables.$font-darker-color;
  }
}
