@use 'variables';

body {
  font-size: 1.4em;
  line-height: 1.4;
  font-family: variables.$bread-font;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.96rem;
  letter-spacing: 1px;

}

.nav {
  a {
    font-size: variables.$nav-size;
  }
}

.nav {
  a {
    font-size: variables.$nav-size;
  }
}

.landing-page {
  h2 {
    font-size: large;
  }
}

.technology {
  h3 {
    font-size: large;
  }
}

.social {
  font-size: variables.$header-size;
}
