/* header.scss */
@use '../abstracts' as *;

.hidden {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, $background-color 0%, $gradient-color 100%);
  padding: 0.5rem 2rem;
  border-radius: 0 0 200px;
  box-shadow: 1px 1px 8px $shadow-color;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.nav {
  display: flex;
}

.logo {
  img {
    object-fit: contain;
    width: 75%;
    filter: $img-filter;
  }
}

.active {
  background-color: $shadow-color;
  border: 1px solid $border-color;
  border-radius: 5px;
}

@media (max-width: 1090px) {
  .header {
    flex-direction: column;
  }

  .site-header {
    justify-content: left;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 1rem 1rem 0;
    border-radius: 0;
    box-shadow: none;
  }

  .site-header {
    .logo {
      max-width: 30%;
      padding: 0.5rem 1rem;
      filter: $img-filter;
    }

    h1 {
      padding: 0;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }
}
