/* mobile-menu.scss */
@use "../abstracts" as *;
@use "../pages" as pages;

.hidden {
  overflow-y: hidden !important;
  transition: height 0.5s ease-in !important;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
  list-style: none;
}

.nav ul li {
  padding: 0 1em;
}

.nav-toggle {
  display: none;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
  }

  .nav {
    ul {
      flex-direction: column;
      padding-bottom: 1em;
    }

    ul li {
      @include pages.standard-box;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    ul li:hover {
      background-color: $shadow-color;
    }

    ul li a {
      display: block;
      padding: 0.5em 0;
    }
  }

  .js .nav-toggle {
    display: block;
    float: right;
    width: 2em;
    margin: 0.6667em 0;
    font-size: 1.5rem;
    line-height: 2em;
    text-align: center;
    cursor: pointer;
  }
}
