/* gallery.scss */
@use "../abstracts" as *;

img,
embed,
object,
video {
    max-width: 100%;
    max-height: 100%;
}

.gallery {
    align-items: center;
    justify-items: center;

    .box {
        padding: 0;
    }

    .box:hover {
        cursor: pointer;
    }

    .cat2,
    .cat9 {
        grid-column: 2 / span 2;
    }

    .cat6 {
        grid-column: 1 / span 2;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 1.96rem;
    height: 0;
    max-width: 100%;

    iframe,
    object,
    embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;

        .cat1,
        .cat2,
        .cat3,
        .cat4,
        .cat5,
        .cat6,
        .cat7,
        .cat8,
        .cat9 {
            grid-column: 1 / span 1;
        }
    }
}