/* typography.scss */
@use '../abstracts' as *;

body {
  font-size: 1.4em;
  line-height: 1.4;
  font-family: $bread-font;
  font-weight: $paragraph-wight;
  font-style: normal;
  margin-bottom: 1.96rem;
  letter-spacing: 1px;
  color: $font-color;
}

.title {
  a {
    text-decoration: none;
  }

  h1 {
    color: $font-darker-color;
    font-size: $header-size;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }

  p {
    color: $font-color;
    font-size: $subheader-size;
  }
}

.nav {
  a {
    color: $font-darker-color;
    font-size: $nav-size;
  }
}

.nav {
  a {
    font-size: $nav-size;
  }
}

.nav a,
.nav-toggle {
  color: $font-darker-color;
  text-decoration: none;
  font-weight: $header-weight;
}

.landing-page {
  h2 {
    font-size: large;
  }

  a {
    text-decoration: none;
    color: $font-darker-color;
  }
}

.technology {
  h3 {
    font-size: large;
  }

  a {
    text-decoration: none;
    color: $font-darker-color;
  }
}

.color-text {
  font-style: italic;
  font-size: smaller;
}

@media (max-width: 767px) {
  .site-header {
    .title {
      min-width: 60%;
      padding: 0.5rem 1rem;
    }

    h1 {
      font-size: $mobile-header;
    }
    
    p {
      font-size: $mobile-subheader;
    }
  }
}
